@import '../../constants/style';

.content-stop {
    width: 100%;
    padding-left: 3rem;
    padding-top: 1rem;

    .title {
        padding: 1rem;
        color: $useColor !important;
        text-align: left !important;
    }

    .btn-add-stop {
        text-align: center;
        margin: 3rem;
    }

    .stop-information{
        display: flex;
        align-items: center;
        justify-content: center;
        color: $useColor;
        text-align: left;

        .stop-block {
            width: 50%;
            padding: 1rem;

            .img-block {
                display: none;
                .img-modal {
                    width: 50%;
                }
            }

            .active {
                display: block;
            }

            .input-field {
                width: 80%;
            }
        }
    }
}
