@import '../../constants/style';

.content-stop {
    width: 100%;
    padding-top: 1rem;

    .title {
        padding: 1rem 5rem;
        color: $useColor !important;
        text-align: left !important;
    }

    .btn-add-stop {
        text-align: center;
        margin: 3rem;
    }

    .stop-information{
        display: flex;
        align-items: center;
        justify-content: center;
        color: $useColor;
        text-align: center;

        .stop-block {
            width: 50%;
            padding: 1rem;

            .input-field {
                width: 80%;
            }
        }
    }
}
