@import '../../constants/style';

.content-stop {

    .stop-select-category {
        width: 90%;
    }

    .title-content-stop {
        padding: 2rem 5rem;
        color: $useColor;
        font-size: 1.2rem;
    }

    .btn-add-stop {
        padding: 3rem;
        text-align: center;
    }

    .stop-information {
        display: flex;
        align-items: center;

        .stop-block {
            width: 50%;

            .input-field {
                width: 80%;
            }

            .content-stop-img {
                width: 50%;
            }
        }
    }

    .content-stop-block {
        margin: 0rem auto;
        padding: 0rem 4rem;

    }
}