@import '../../constants/style';

.signUpLink {
    margin-top: 1.5rem;
    a {
        color: $useColor !important;
    }
}

.signUpForm{
    div {
       margin: 0.4rem;
       label {
           padding: 0.4rem;
       }
    }
    .emailSignUp {
        width: 28.2vw;
    }
}