.loginPage {
    text-align: center;
    display: flex;
    height: 95vh;

    .loginContext {
        width: 40vw;
        height: 50vh;
        margin: auto;
    }

    a {
        color: black;
        text-decoration: none;
    }
}