@import '../../constants/style2';

%btn {
  color: $colorTooltip;
  text-transform: none;
}

.neatly-main-page {
  height: 100vh;
  flex-flow: column;
  display:flex;
  
  header {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    flex: 0 0 66px;
    display: flex;
    align-items: center;

    .logo {
      padding: 20px 0;
      text-align: center;
      width: 14%;
      background-color: $bgColor;
      text-transform: uppercase;
    }

    .btn-notification {
      margin-left: auto;

      span {
        margin: 0%;
      }
    }

    .btn-settings {
      @extend %btn;
      padding: 0 28px;
    }
  }

  .content {
    display: flex;
    flex: 1 1 auto;
    min-height: 500px;

    .menu {
      width: 14%;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
      padding-top: 76px;
      position: relative;

      li {
        padding: 12px 23px;
        line-height: 1.5rem;
        font-size: 0.75rem;
        color: $colorH2;
      }

      .list-name {
        text-transform: uppercase;
        font-weight: bold;
      }

      .btn-log-out {
        @extend %btn;
        position: absolute;
        left: 50%;
        bottom: 44px;
        transform: translate(-50%, 0);
        font-size: 0.875rem;
        opacity: 0.9;
      }

      .new-category {
        color: $colorNewCategory;
      }
    }

    .main-content {
      width: 86%;
      background-color: $colorBgMainPage;
      padding: 30px;

      .in-main-content {
        background-color: white;
        height: 100%;
        overflow-y: auto;
      }
    }
  }
}


@media only screen and (max-width: 1024px) {
  .neatly-main-page {
    header {
      .logo {
        width: 25%;
      }
    }

    .content {
      .menu {
        width: 25%;
      }

      .main-content {
        width: 75%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .neatly-main-page {
    header {
      .logo {
        width: 30%;
      }
    }

    .content {
      .menu {
        display: none;
      }

      .main-content {
        width: 100%;
      }
    }
  }
}