@import '../../constants/style2';

.neatly-main-page {
  header {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    height: 66px;
    display: flex;

    .logo {
      padding: 20px 89px;
      background-color: $bgColor;
      text-transform: uppercase;
    }

    .btn-notification {
      margin-left: auto;

      span {
        margin: 0%;
      }
    }

    .btn-settings {
      padding: 0 28px;
      color: $colorTooltip;
      text-transform: none;
    }
  }
}