@import '../../../constants/style';

.modal-window {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $colorBgModal;

    .modal-block-category {
        height: 25rem;
        width: 40rem;
        padding: 1rem 5rem;
    }

    .modal-block-stop {
        height: 55rem;
        overflow-y: auto;
        width: 80rem;
    }

    .modal-block {
        position: relative;
        background-color: white;
        border-radius: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .btn-close {
            position: $positionButton;
            top: 2%;
            right: 1%;
            color: $useColor;
        }
    }
}

@media only screen and (max-width : 768px) {
    .modal-window {    
        .modal-block-category {
            width: 100%;
        }
    }
}

@media only screen and (max-width : 1224px) {
    .modal-window {    
        .modal-block-stop {
            width: 100%;
        }
    }
}