@import '../../../constants/style';

.modal-window {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $colorBgModal;

    .modal-block-category {
        height: 25rem;
        width: 40%;
        margin: 15% auto;
    }

    .modal-block-stop {
        height: 55rem;
        overflow-y: auto;
        width: 80vw;
        margin: 3% auto;
    }

    .modal-block {
        position: relative;
        background-color: white;
        border-radius: 10px;

        .btn-close {
            position: $positionButton;
            top: 2%;
            right: 1%;
            color: $useColor;
        }
    }
}