@import '../../constants/style';

.content-app-info {
    background-color: $colorBgModal;
    width: 85%;
    display: inline-block;
    border-left: 1px solid $useColor;

    .border-app {
        color: $useColor;
        background-color: white;
        height: 47px;

        p {
            margin: 0;
            padding: 1rem;
        }
    }

    .content {
        background-color: white;
        border-radius: 1rem;
        display: flex;
        margin: auto;
        width: 95%;
        margin-top: 2rem;
        padding: 1rem 5rem;

        .in-content-app {
            width: 50%;

            .field-content-app {
                width: 90%;
            }

            .field-content-img {
                width: 50%;
            }
        }
    }

    .content-app-img {
        height: 30rem;
    }

    .content-app-name {
        height: 20rem;
        padding-top: 3rem;
    }

    .content-location {
        padding-top: 2.5rem;
        height: 25rem;
        margin-bottom: 2.5rem;

        .field-content-latlng {
            width: 90%;
            //margin-right: 2rem;
        }
    }
}