@import '../../constants/style';

.content-app-info {
    background-color: $colorBgModal;
    width: 85%;
    display: inline-block;
    border-left: 1px solid grey;

    .border-app {
        background-color: white;
        height: 50px;

        p {
            padding: 1rem;
        }
    }

    .content-bg {
        background-color: white;
        border-radius: 1rem;
        margin: auto;
        width: 95%;
        margin-top: 2rem;
    }

    .content {
        display: flex;
        padding: 1rem 3rem;

        .in-content-app {
            width: 50%;

            .field-content-app {
                width: 80%;
            }

            .field-content-img {
                width: 50%;
            }

            .app-img-text {
                padding-bottom: 1rem;
            }
        }
    }

    .content-app-img {
        height: 35rem;
    }

    .content-app-name {
        height: 20rem;
        padding-top: 3rem;
    }

    .content-location {
        padding-top: 2.5rem;
        height: 25rem;
        margin-bottom: 2.5rem;

        .field-content-latlng {
            width: 90%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .content-app-info {
        .content {
            padding: 1rem 2rem;

            .in-content-app {
                width: 50%;

                .field-content-app {
                    width: 90%;
                }

                .field-content-img {
                    width: 90%;
                }
            }
        }

        .content-app-img {
            height: 20rem;
        }

        .content-app-name {
            height: 15rem;
        }

        .content-location {
            height: 25rem;
            padding: 2rem 0rem;
        }
    }
}