.input-map {
    display: flex;
    width: 100%;

    .in-content {
        width: 50%;
        padding: 1rem;

        .content-map {
            width: 80%;
        }

        .field-content {
            width: 80%;
        }
    }
}