@import '../../constants/style';

.modalWindow {
    height: 100vh;
    width: 100vw;
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: $colorBgModal;
    .modalBlock {
        position: relative;
        height: 70vh;
        width: 40vw;
        background: white;
        margin: 7% auto; 
        border-radius: 10px;
        .navigationModal {
            display: flex;
            width: 100%;
            padding-top: 1.5rem;
            color: $navigationColor;
            .radioBtn {
                width: 18%;
                text-align: center;
            }
        }
        .buttonClose {
            position: $positionButton;
            top: 4%;
            right: 1%;
        }
        .buttonNext {
            position: $positionButton;
            bottom: 4%;
            left: 43%;
        }
        .blocks{
            display: none;
            margin: 0% auto; 
        }
        .active {
            display: block;
        }
        .welcome {
            width: 45%;
            height: 100%;
            padding-top: 7rem;
            text-align: center;
            p{
                padding-bottom: 1rem;
            }
            .textRemember {
                margin-top: 3rem;
            }
        }   
        .branding {
            width: 90%;
            margin-top: 2rem;
            div {
                width: 45%;
                height: 70%;
                padding-left: 1%;
            }
            .uploadImg {
                float: left;
            }
            .chooseColor {
                float: right;
            }
        }   
    }
}



