@import '../../constants/style';

.modal-window-create-app {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $colorBgModal;

    .modal-block-create-app {
        position: relative;
        height: 45rem;
        width: 50rem;
        background: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;

        .navigation-modal {
            display: flex;
            width: 100%;
            height: 8rem;
            justify-content: center;
            align-items: center;
            color: $navigationColor;

            .radio-btn {
                width: 18%;
                text-align: center;
            }
        }

        .button-close {
            position: $positionButton;
            top: 4%;
            right: 1%;
        }

        .button-next {
            display: none;
            position: $positionButton;
            bottom: 4%;
            left: 43%;
        }

        form {
            height: 37rem;

            .blocks {
                display: none;
                height: inherit;

                p {
                    text-align: center;
                    margin: 1rem;
                }

                .block-flex {
                    display: flex;
                    align-items: stretch;
                }

                .in-block-flex {
                    flex: 1;
                    padding: 2rem;
                    height: inherit;

                    .input-create-app {
                        width: 90%;
                    }
                }

                .block-features {
                    border: 1px solid grey;
                    border-radius: 0.5rem;
                    text-align: center;
                    margin: 3rem 2rem;
                    padding: 4rem;
                    height: 20rem;
                    width: 90%;


                    .features-title {
                        font-size: 1.5rem;
                    }

                    .features-description {
                        font-size: 1rem;
                        margin: 2rem;
                    }
                }

                .welcome {
                    width: 50%;
                    padding-top: 4rem;
                    margin: auto;
                    text-align: center;

                    p {
                        margin: 3rem;
                        line-height: 1.5rem;
                    }
                }
            }

            .active {
                display: block;
            }

            .preview {
                text-align: center;
                padding: 0rem 3rem;

                .img-preview {
                    max-width: 50%;
                    max-height: 50%;
                }

                .app-name {
                    font-size: 1.5rem;
                    margin: 0.5rem;
                }
            }

            .table-preview {
                overflow-x: auto;
            }

            .img-block {
                display: none;
            }

            .img-active {
                display: block;
            }
        }
    }
}

@media only screen and (max-width : 768px) {
    .modal-window {
        .modal-block {
            height: 35rem;

            .navigation-modal {
                display: none;
            }

            form {
                height: inherit;

                p {
                   padding: 2rem;
                }

                .blocks {
                    
                    .block-features {
                        margin: 1rem 1rem;
                        padding: 4rem 1rem;

                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .modal-window {
        .modal-block {
            width: 100%;
        }
    }
}