@import '../../constants/style';

.content-lists {
    display: inline-block;
    width: 85%;

    .border-lists {
        display: flex;
        height: 60px;
        padding: 0.5rem;
        color: $useColor;

        .border-list {
            width: 80%;
        }

        .category {
            display: none;
        }

        .border-item {
            width: 10%;
        }
    }

    .modals {
        display: none;
    }

    .active {
        display: block;
    }
}