@import '../../constants/style';

.content-lists {
    display: inline-block;
    width: 85%;
    border-left: 1px solid $useColor;
    background-color: $colorBgModal;

    .border-lists {
        display: flex;
        height: 6rem;
        padding: 1rem;
        color: $useColor;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px solid $useColor;
        background-color: white;

        .border-list {
            width: 70%;

            button {
                margin: 0.5rem;
            }
        }

        .category {
            display: none;
        }

        .border-item {
            width: 10%;
        }

        .border-stop {
            margin-left: auto;
        }

        .border-category {
            display: none;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    float: left;
                }
            }
        }

        .active {
            display: block;
        }
    }

    .categories {
        background-color: white;
        border-radius: 1rem;
        height: 22rem;
        width: 95%;
        padding: 1rem 5rem;
        margin: 2rem auto;
        text-align: right;
        p {
            color: $useColor;
            text-align: left;
        }
        div {
            .input-field {
                width: 100%;
            }
        }
        .btn-delete {
            margin: 1rem;
        }
    }

    .modals {
        display: none;
    }

    .active {
        display: block;
    }
}