@import '../../constants/style';

.content-lists {
    display: inline-block;
    width: 85%;
    border-left: 1px solid grey;
    background-color: $colorEditor;

    .border-lists {
        display: flex;
        align-items: center;
        border-bottom: 1px solid grey;
        background-color: white;

        .border-item {
            padding: 0.4rem 2.5rem;
        }

        .border-item-main {
            flex-grow: 1;
        }

        .border-item-list {
            flex-grow: 7;

            button {
                margin: 0.5rem 0.5rem;
            }
        }

        .border-item-category {
            flex-grow: 2;
        }

        .border-item-btn {
            text-align: right;
        }

        .border-category-none {
            display: none;

            ul {
                li {
                    float: left;
                }
            }
        }

        .active {
            display: block;
        }
    }

    .list-item {
        background-color: white;
        border-radius: 1rem;
        margin: 2rem auto;
        width: 95%;

        .btn-delete {
            margin: 2rem 2rem;
        }
    }

    .modals {
        display: none;
    }

    .active {
        display: block;
    }
}

@media screen and (max-width: 1024px) {
    .content-lists {
        .border-lists {
            display: block;

            .border-item {
                padding: 0.4rem 2rem;
            }

            .border-item-btn {
                text-align: left;
            }

            .border-item-list {
                display: inline-block;

                button {
                    margin-left: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .content-lists {
        width: 75%;
    }
}