@import '../../constants/style2';

.neatly-reset-password {
  margin-top: -25%;
  width: 48%;

  .input-reset-password {
    width: 100%;
  }

  .btn-neatly-blue {
    @extend %btn;
    @extend %btn-blue;
  }
}

@media only screen and (max-width: 1440px) {
  .neatly-reset-password {
    width: 80%;
  }
}