@import '../../constants/style';

.my-category {
    width: 100%;
    color: $useColor;
    text-align: center;

    .title-category{
        font-size: 1.2rem;
        padding: 1rem 0rem;
    }

    .title-category-in-list {
        text-align: left;
    }

    .input-field-category {
        width: 100%;
    }

    .my-category-add {
        margin: 3rem;
    }
}