@import '../../constants/style';

.category {
    text-align: center;
    padding: 1rem;
    color: $useColor;
    .input-field {
        width: 80%;
    }
    .btn-add-category {
        margin-top: 2rem;
    }
}