@import '../../constants/style';

.navigaton {
    ul {
        height: 70px;
        border-bottom: 0.1px solid grey;

        li {
            float: right;

            .btn-navigator {
                width: 8rem;
                height: auto;
                text-align: center;
                line-height: 70px;
            }

            a {
                font-size: 1rem;
            }
        }
    }
}