@import '../../constants/style';

.navigaton {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: $useColor;
        height: 70px;

        li {
            float: right;

            a {
                display: block;
                color: white;
                padding: 14px 16px;
                text-decoration: none;
            }
        }
    }
}