@import '../../../constants/style';

.select-category-block {

    .select-category-title {
        padding: 1rem 5rem;
        color: $useColor !important;
        text-align: left !important;
    }

    .my-select-category {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $useColor;
        text-align: left;

        .block-category {
            width: 50%;
            padding: 1rem;
            text-align: center;

            .input-field {
                width: 80%;
            }
        }
    }
}