@import '../../../constants/style';

.select-category-block {

    .select-category-title {
        padding: 2rem 1rem;
        font-size: 1.2rem;
        color: $useColor;
    }

    .my-select-category {
        width: 100%;
        display: flex;
        align-items: center;

        .block-category {
            width: 50%;

            .input-field {
                width: 80%;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .select-category-block {
        .my-select-category {
            .block-category {
                .input-field {
                    width: 90%;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .select-category-block {

        .my-select-category {
            display: block;

            .block-category {
                width: 100%;

                .input-field {
                    width: 100%;
                }
            }
        }
    }
}