@import '../../constants/style2';

.neatly-sign-up {
  width: 48%;

  .input-sign-up {
    width: 100%;
  }

  .btn-sign-up {
    height: 46px;
    font-weight: normal;
    font-size: 1.125rem;
    text-transform: none;
  }

  .sign-up-register {
    margin-top: 60px;
    background-color: $bgColor;
    color: white;
  }

  .sign-up-with-Google {
    margin-top: 20px;
    background-color: white;
    color: $colorTooltip;
  }
}

@media only screen and (max-width: 1440px) {
  .neatly-sign-up {
    width: 80%;
  }
}