@import '../../constants/style';

.content-features {
    background-color: $colorEditor;
    width: 85%;
    display: inline-block;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;

    .border-app {
        background-color: white;
        height: 50px;

        p {
            padding: 1rem 3rem;
        }
    }

    .main-features {
        background-color: white;
        border-radius: 1rem;
        display: grid;
        grid-template-columns: 70% 20%;
        grid-gap: 3rem;
        margin: 2rem;
        padding: 3rem 5rem;
        line-height: 1.5rem;

        .choose-features {
            h1 {
                margin-bottom: 1rem;
                font-size: 1.2rem;
                color: $useColor;
            }
        }

        .features-active {
            text-align: center;

        }
    }
}

@media screen and (max-width: 1024px) {
    .content-features {
        .main-features {
            margin: 1rem;
        }
    }
}

@media only screen and (max-width: 768px) {
    .content-features {
        width: 75%;

        .main-features {
            padding: 1rem 2rem;
            grid-gap: 1rem;
        }
    }
}