@import '../../constants/style';

.dashboard {
    margin: 3rem 15rem;

    .header-dashboard {
        display: flex;
        align-items: center;

        div {
            width: 50%;
        }

        .header-text {
            color: $useColor;
        }

        .header-btn {
            text-align: right;
        }
    }

    .apps {
        margin-top: 3rem;
    }
}