@import '../../constants/style';

.dashboard {
    margin: 3rem 15rem;

    .header-dashboard {
        display: flex;
        align-items: center;

        .header-text {
            flex: 1;
            font-size: 1.5rem;
        }

        .header-btn {
            flex: 1;
            text-align: right;
        }
    }

    .apps {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 1024px) {
    .dashboard {
        margin: 2rem 1.5rem;
    }
}