.content-stop {
    width: 100%;

    .stop-information {
        display: flex;

        .stop-block {
            width: 50%;
            padding: 1rem;
            text-align: center;
        }

        .img-picture {
            .input-field-stop {
                width: 90%;
            }

            .img-block {
                display: none;
            }

            .img-active {
                display: block;
            }

            .img-modal {
                margin-top: 3vh;
                width: 50%;
            }
        }

        .stop-description {
            .description-modal {
                width: 85%;
            }
        }
    }

    .stop-map {
        width: 100%;
    }
}