.content-stop {
    width: 100%;

    .stop-information {
        display: flex;
        padding: 1rem;
        align-items: center;
        justify-content: center;

        .stop-block {
            width: 50%;
            text-align: center;
        }

        .img-picture {
            .input-field-stop {
                width: 90%;
            }

            .img-block {
                display: none;
            }

            .img-active {
                display: block;
            }

            .img-modal {
                margin-top: 3vh;
                width: 50%;
            }
        }

        .stop-description {
            .description-modal {
                width: 85%;
            }
        }

        .stop-map {
            width: 90%;
        }
    }
}