@import '../../constants/style2';

.neatly-main {
  background:
    url('../../assets/images2/main-page/first-vector.png') center bottom no-repeat,
    url('../../assets/images2/main-page/second-vector.png') center bottom no-repeat,
    url('../../assets/images2/main-page/title.png') 25% center no-repeat;
  background-color: $bgColor;
  height: 100vh;

  .neatly-content {
    width: 38%;
    height: inherit;
    background-color: white;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div {
    .btn-neatly {
      height: 46px;
      font-weight: normal;
      font-size: 1.125rem;
      text-transform: none;
    }

    .btn-neatly-blue {
      margin-top: 60px;
      background-color: $bgColor;
      color: white;
    }

    .btn-with-Google {
      margin-top: 20px;
      background-color: white;
      color: $colorTooltip;
    }
  }
}

@media only screen and (max-width: 768px) {
  .neatly-main {
    .neatly-content {
      width: 100%;
    }
  }
}