@import '../../constants/style';

.modal-window {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $colorBgModal;

    .modal-block {
        position: relative;
        height: 55rem;
        overflow-y: auto;
        width: 80vw;
        background: $modalStops;
        margin: 3% auto;
        border-radius: 10px;

        .btn-close {
            position: $positionButton;
            top: 2%;
            right: 1%;
            color: white;
        }

        .content-stop {
            width: 100%;
            text-align: center;

            h2 {
                color: white;
            }

            .stop-information {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 3rem;
                padding: 3rem;
                border: 1px solid $useColor;
                border-radius: 10px;
                background-color: white;

                .stop-block {
                    width: 50%;
                    text-align: center;
                    margin-right: 3rem;
                }

                .img-picture {
                    .input-field-stop {
                        width: 85%;
                    }

                    .img-block {
                        display: none;
                    }

                    .img-active {
                        display: block;
                    }

                    .img-modal {
                        margin-top: 3vh;
                        width: 50%;
                    }
                }

                .stop-description {
                    .description-modal {
                        width: 85%;
                    }
                }

                .stop-map {
                    width: 95%;
                }
            }

            .send-stop {
                text-align: center;
                margin: 3rem;
            }
        }
    }
}