@import '../../constants/style';

.modal-window {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $colorBgModal;

    .modal-block {
        position: relative;
        height: 55rem;
        overflow-y: auto;
        width: 80vw;
        background: $modalStops;
        margin: 3% auto;
        border-radius: 10px;
        .btn-close {
            position: $positionButton;
            top: 2%;
            right: 1%;
            color: white;
        }
        .modal-content {
            width: 100%;
        }
    }
}