@import '../../constants/style2';

.neatly-sign-in {
  width: 48%;

  .input-sign-in {
    width: 100%;
  }

  .remember-forgot {
    display: flex;
    justify-content: space-between;

    .label-remember-me span {
      line-height: 2.5rem;
      font-size: 0.875rem;
      color: #757575;
    }

    .link-forgot-password {
      line-height: 2.5rem;
      font-size: 0.875rem;
      color: #2979FF;
    }
  }

  .btn-neatly-blue {
    @extend %btn;
    @extend %btn-blue;
  }

  .btn-with-Google {
    @extend %btn;
    @extend %btn-with-Google;
  }
}

@media only screen and (max-width: 1440px) {
  .neatly-sign-in {
    width: 80%;
  }
}