.neatly-sign-in {
  width: 48%;

  .input-sign-in {
    width: 100%;
  }

  div {
    .sign-in-text {
      line-height: 2.5rem;
      font-size: 0.875rem;
    }
  }

  .remember-forgot {
    display: flex;
    justify-content: space-between;

    .sign-in-remember {
      .label-remember-me {
        color: #757575;
      }
    }

    .sign-in-forgot {
      .link-forgot-password {
        color: #2979FF;
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .neatly-sign-in {
    width: 80%;
  }
}