@import '../../constants/style';

.modal-window-category {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $colorBgModal;

    .modal-block-category {
        position: relative;
        height: 30rem;
        width: 40vw;
        margin: 15% auto;
        border-radius: 10px;
        background-color: white;

        .btn-close {
            position: $positionButton;
            top: 2%;
            right: 1%;
        }

        .category {
            text-align: center;
            padding: 1rem;
            color: $useColor;

            .input-field {
                width: 80%;
            }

            .btn-add-category {
                margin-top: 2rem;
            }
        }
    }
}