html {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 16px;

    div {
        box-sizing: border-box;
    }
}

// input[type="file"]::-webkit-file-upload-button {
//     background-color: red;
//     border: 100px solid orange;
// }