@import './constants/style2';

html {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;

	div {
		box-sizing: border-box;
	}

	h2 {
		font-weight: 500;
		font-size: 1.5rem;
		line-height: 1.75rem;
		margin-bottom: 1rem;
		color: $colorH2;
	}

	h3 {
		font-weight: 900;
		font-size: 22px;
		line-height: 26px;
		color: white;
	}

	.tooltip {
		font-size: 0.875rem;
		line-height: 1rem;
		color: $colorTooltip;
	}
}